<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<body>
<div th:replace="~{/fragments/head :: head}"></div>
<div th:replace="~{/fragments/navbar :: header}"></div>

<h1 class="mb-4">Accept review:</h1>

<form method="post" th:action="@{/admin/accept}">

    <div class="form-group">
        <label for="id">ID</label>
        <input readonly th:value="${review.id}" type="number" id="id" name="id">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="status">Status</label>
        </div>
        <select class="custom-select" id="status" name="isAccepted">
            <option th:selected="${review.isAccepted.equals(true)}" value="true">Yes</option>
            <option th:selected="${review.isAccepted.equals(false)}" value="false">No</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-1">Edit</button>

</form>
</body>
</html>