<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:replace="/fragments/head :: head"></div>
<div th:replace="/fragments/navbar :: header"></div>

<h1 class="mb-4" th:text="${user.username}"></h1>

<div>

    <h3>Username</h3>
    <p th:text="${user.username}"></p>

    <h3>City</h3>
    <p th:text="${user.city}"></p>

    <h3>Kanton</h3>
    <p th:text="${user.kanton}"></p>

    <h3>ZIP/PLZ</h3>
    <p th:text="${user.zip}"></p>

    <h3>Admin Rights</h3>
    <p th:text="${isAdmin}"></p>

</div>

</body>
</html>