<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:replace="fragments/head :: head"></div>
<div th:replace="fragments/navbar :: header"></div>

<h1 class="mb-4">Users</h1>

<form method="get" th:action="@{/users/search}">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">@</span>
        </div>
        <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username">
        <button class="btn btn-primary" type="submit">Search</button>
        <a th:text="${username}" class="btn btn-secondary ml-1" href="/users/edit"></a>

    </div>
</form>

<table class="table">

    <thead>
    <tr>
        <th scope="col">
            <form method="get" th:action="@{/users/}">
                <input hidden="hidden" type="text" value="username" name="sortBy">
                <button type="submit" class="btn btn-outline-dark">Username</button>
            </form>
        </th>

    </thead>

    <tbody>
    <tr th:each="user:${users}">
        <td th:text="${user.username}"></td>

    </tr>
    </tbody>

</table>

</body>
</html>